#canvas {
	/* background-color: whitesmoke; */
	padding: 0;
	margin: 0 auto;
	display: block;
	/* width: 100%; */
	/* height: 100%; */
	/* width: 30rem;
	height: 30rem; */
	/* border: 0.5px solid gray; */
}

#navButtons {
	margin: 50px auto 0;
	width: 50%;
}

#instructions {
	text-align: center;
}

body > .container {
	width: 100%;
}

html,
body {
	margin: 0;
}
