#canvas {
	/* background-color: whitesmoke; */
	padding: 0;
	margin: 50px auto;
	display: block;
	/* width: 800px; */
	border: 0.5px solid gray;
}

#navButtons,
#selectorButtons {
	text-align: center;
	margin: 30px auto;
}

.selected {
	background-color: lightgoldenrodyellow;
}

html,
body {
	margin: 0;
}
