#canvas {
	padding: 0;
	margin: 0 auto;
	display: block;
}

#navButtons {
	margin: 50px auto 0;
	width: 50%;
	margin-bottom: 1rem;
}

#errorMessage {
	display: none;
	margin-top: 1rem;
	margin-bottom: 0;
	color: #ee322f;
	animation: fadein 1s;
}

body > .container {
	width: 100%;
}

html,
body {
	margin: 0;
}

@keyframes fadein {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
